{% extends 'main.html' %}
{##}
{% block content %}
{##}
{#    <h1> Add Post </h1>#}
{##}
{#    <form method="POST" action="{% url 'create-post' %}" enctype="multipart/form-data">#}
{#    <form action="{% url 'create-post' %}" method="POST" enctype="multipart/form-data">#}
{#        {% csrf_token %}#}
{#        {{ form.description }}#}
{#        {{ form_image.as_p }}#}
{#        <input type="'file" name="images" multiple value="=Submit/">#}
{#        <input type="submit" multiple value="Submit"/>#}
{#        <button>Upload</button>#}
{#    </form>#}
{##}
{#{% endblock %}#}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mutliple Upload</title>
    <style>
        img {
            height: 200px;
            width: 200px;
        }
    </style>
</head>
<body>
    <form action="{% url 'create-post' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="file" name="images" multiple>
        <button>Upload</button>
    </form>
    <hr>
{#    {% for post in form_image %}#}
{#    <img src="{{post.images.url}}" alt="Image">#}
{#    {% endfor %}#}
</body>
</html>
{% endblock %}