{% extends 'main.html' %}
{% load static %}

{% block content %}
{% for post in posts %}
<a href="{% url 'profile' pk=post.author_id %}" >{{ post.author.user }}</a>
{#<img src="{{ post.profile.profile_image.url }}">#}
{#    {{ post.profile.user.first_name }}#}
    {% for i in post.post_image.all %}
    <img src="{{ i.image.url }}" width="100px" height="100px">
    {% endfor %}
    <form
          action="{% url 'like' %}"
          method="POST">
    {% csrf_token %}
    <p>
      <button
            class="btn btn-success"
            type="submit"
            value="{{ post.id }}"
            name="post_id"
    >like: {{ post.count }}
    </button>
    </p>
    </form>
{% endfor %}
    {% if user.is_authenticated %}
<a href="{% url 'logout' %}"> Logout </a>
    {% endif %}
{% endblock %}

