{%  extends 'main.html' %}
{% csrf_token %}
{% load static %}
{% block content %}
    {{ profile.user }}
    <img src="{{ profile.profile_image.url }}" width="100px" height="100px">
    <p></p>
    {% if request.user.profile.id == profile.id %}
    <a href = "{% url 'edit-profile'%}"><button>Edit-profile</button></a>
    <a href = "{% url 'create-post'%}"><button>Add post</button></a>
    {% endif %}
    {% for post in posts %}

        <a href="{% url 'post' pk=post.id %}" >
        {% for i in post.post_image.all %}
            <img src="{{ i.image.url }}" width="150px" height="150px">
        {% endfor %}
        </a>
            <form
          action="{% url 'like' %}"
          method="POST">
    {% csrf_token %}
    <p>
      <button
            class="btn btn-success"
            type="submit"
            value="{{ post.id }}"
            name="post_id"
    >like: {{ post.count }}
    </button>
    </p>
    </form>
        {% if not post.author.user.followers.exists %}
         <form
          action="{% url 'follow' %}"
          method="POST">
    {% csrf_token %}
    <p>
      <button
            class="btn btn-success"
            type="submit"
            value="{{ post.author.user.username }}"
            name="username"
    >Follow
    </button>
    </p>
    </form>
           {% else %}
            <form
          action="{% url 'follow' %}"
          method="POST">
    {% csrf_token %}
    <p>
      <button
            class="btn btn-success"
            type="submit"
            value="{{ post.author.user.username }}"
            name="username"
    >Unfollow
    </button>
    </p>
    </form>
    {% endif %}

    {% endfor %}
{% endblock %}